.logo{
    height: 82px;
    width: 82px;
}
.headerMenu>a{
    float: left;
    margin-left: 20px;
    width: 30%;
}
.headerMenu{
    height: 25%;
}
article{
    margin: 50px;
    height: 500px;
}
section>article>div{
    position: relative;
    float: left;
    top: 50%;
    width: 50%;

    
}
section>article>div>div{
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 45%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 3em;
}

.pack{
    width: 100px;
    background-color: blue;
    border: none;
    color: #fff;
    padding: 15px 0;
    top: 50%;
    width: 50%;
    float: left;
    cursor: pointer;
}
.subtitWrap .tab01 {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -17.5px 0 0;
}
.tab01 {
    margin-bottom: 20px;
    overflow: auto;
}
.tab01 li {
    position: relative;
    display: table-cell;
    padding: 0 18px;
    vertical-align: top;
    white-space: nowrap;
}

.subtitWrap {
    position: relative;
    margin-bottom: 26px;
}

a, div, li {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.tab01 ul {
    display: table;
}
.contentsWrap .page_tit {
    margin-bottom: 15px;
    font-size: 2.5rem;
    line-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-size: 1em;
}

dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
dd, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.subtitWrap .tab01 li {
    padding: 0 12px;
}
.tab01 li:first-child {
    padding-left: 0;
}
li {
    list-style: none;
}
.menus{
    text-align: center;
    float: left;
    height: 300px;
}
.menus>img{
    width: 300px;
}
strong{
    font-weight: bold;
}
.tit{
    font-size: 1.25rem;
}